{% extends 'base.html.twig' %}
{% block body %}
    {{ include('player_item/menu_player_item.html.twig')  }}
    <div><strong>{{player_item.id}}</strong></div>
    <div><strong>{{player_item.position}}</strong></div>
    <div><strong>{{player_item.createdat|date("Y/m/d")}}</strong></div>
{% endblock body %}