{% extends 'base.html.twig' %}
{% block body %}
    <div><strong>{{player_item.id}}</strong></div>
    <div><strong>{{player_item.position}}</strong></div>
    <div><strong>{{player_item.created_at}}</strong></div>
{% endblock body %}