{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>weight</th>
            <th>show</th>
        </tr>
        {% for material in tabMaterials %}
            <tr>
                <td>{{material.id}}</td>
                <td>{{material.name}}</td>
                <td>{{material.weight}}</td>
                <td><a href={{ path('app_material_show',{'id' : material.id}) }}><button>show</button></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}