{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>max_weight</th>
            <th>show</th>
        </tr>
        {% for person in tabPersons %}
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.name}}</td>
                <td>{{person.maxweight}}</td>
                <td><a href={{ path('app_person_show',{'id' : person.id}) }}><button>show</button></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}