{% extends 'base.html.twig' %}
{% block title %}Création d'une Personne{% endblock %}
{% block body %}
    <div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock body %}