<header>
    <ul>
        <li><a href={{ path('app_item_index') }}>list_items</a></li>
        <li><a href={{ path('app_player_index') }}>list_players</a></li>
        <li><a href={{ path('app_player_item_index') }}>list_players_item</a></li>
    </ul>
</header>