{% extends 'base.html.twig' %}
{% block body %}
    {{ include('menu_item.html.twig')  }}
    <div><strong>{{item.name}}</strong></div>
    <div><strong>{{item.weight}}</strong></div>
{% endblock body %}