{% extends 'base.html.twig' %}
{% block body %}
    {{ include('item/menu_item.html.twig')  }}
    <div><strong>{{item.name}}</strong></div>
    <div><strong>{{item.typeitem}}</strong></div>
{% endblock body %}